{% extends 'layouts/complete.html' %} {% block body %}

<main>
    <div id="body" class="container my-5">

        <h2>Resumen del Análisis</h2>
        <p>Aquí se describen las características de las variables medidas y los datos estadísticos recolectados. También podrás descargar tanto el archivo
            que contiene los registros de las mediciones, como el reporte en formato Word con los resultados obtenidos del análisis preliminar de la
            calidad del agua.</p>

        <p>Si deseas complementar la información del reporte, puedes tomar capturas de pantalla desde tu dispositivo y pegar la imagen en el archivo.</p>

        {% include 'includes/progress.html' %}

        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <span>El reporte preliminar de calidad de agua se ha generado correctamente.</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>

        {% if session.URL_A and session.URL_B %}
        <div class="mb-3 d-grid gap-2 d-md-block text-end">
            <a role="button" href="{{session.URL_A}}" class="btn btn-lg me-md-3" style="color: white; background-color: MediumSeaGreen">
                Descargar Mediciones <i class="bi bi-file-earmark-excel"></i>
            </a>

            <a role="button" href="{{session.URL_B}}" class="btn btn-lg" style="color: white; background-color: RoyalBlue">
                Descargar Reporte <i class="bi bi-file-earmark-word"></i>
            </a>
        </div>
        {% endif %} {% include 'includes/filedata.html' %}

        <div class="card mb-5">
            <div class="p-4 d-flex flex-column flex-md-row justify-content-around align-items-md-center" style="text-align: center;">
                <a class="mb-3 mb-md-0 mx-md-1 btn btn-outline-primary" href="{{ url_for('home.home') }}" role=button>Regresar a Inicio <i class="bi
                bi-house"></i></a>
                <a class="mb-3 mb-md-0 mx-md-1 btn btn-primary" href="{{ url_for('main.channel') }}" role=button>Nuevo Reporte <i class="bi
                bi-file-earmark-plus"></i></a>
                <a class="mb-3 mb-md-0 mx-md-1 btn btn-dark" href="{{ url_for('main.report') }}" role=button>Editar Reporte <i class="bi
                bi-pencil-square"></i></a>
                <button class="mx-md-1 btn btn-outline-success" type="button" onClick="javascript:window.print()">Imprimir esta página <i class="bi
                bi-printer"></i> </button>
            </div>
        </div>

        <h3>Resumen del análisis</h3>
        <hr class="mt-2 mb-2">

        <div class="mb-5">
            <p>{{session.dataReview.Dat}}, de las cuales {{session.dataReview.Rev}}</p>
            <p>Hay que recordar que las sondas utilizadas son de marca AtlasScientific, cuyos rangos de medición son:</p>
            <ul>
                <li><b>pH (Lab):</b> desde 0.005 hasta 14.</li>
                <li><b>Conductividad (Lab - K 1.0):</b> desde 5 µS/cm hasta 500000 µS/cm.</li>
                <li><b>Oxígeno disuelto (Lab):</b> desde 0.1 mg/L hasta 100 mg/L.</li>
                <li><b>Temperatura (PT-1000):</b> desde -200 °C hasta 850 °C.</li>
            </ul>
            <p>Se identificó que el {{session.dataReview.Res[1]}} % del agua de la fuente hídrica, monitoreada en la ubicación
                {{session.dataReview.Loc}}, cumple con las resoluciones ambientales: Resolución 2115 de 2007 y Objetivos de Calidad de Agua - Resolución
                3560 de 2015; frente al {{session.dataReview.Res[0]}} % que no lo hace.</p>
        </div>

        <h3>Información Interactiva</h3>
        <hr class="mt-2 mb-2">

        <p class="mb-4 fs-5">Para que no tengas problemas con la visualización del contenido, te recomendamos primero hacer click en cada una de las pestañas de gráfica seleccionada. Así el contenido de la página se organiza y permite que trabajes sin contratiempos.</p>

        <div class="row g-4 mb-5">

            <!-- Gráfico de Thinkspeak -->
            <div class="col-lg-6">
                <div class="card" style="min-height: 650px; height: 100%;">
                    <div class="card-header">
                        <h5>Gráfica Seleccionada:</h5>
                        <ul class="nav nav-tabs card-header-tabs" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="ph-tab" style="color:#495057; cursor: pointer;" data-bs-toggle="tab" data-bs-target="#ph-plt" role="tab" aria-controls="ph-plt" aria-selected="true">pH</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="k-tab" style="color:#495057; cursor: pointer;" data-bs-toggle="tab" data-bs-target="#k-plt" role="tab" aria-controls="k-plt" aria-selected="false">Conductividad</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="od-tab" style="color:#495057; cursor: pointer;" data-bs-toggle="tab" data-bs-target="#od-plt" role="tab" aria-controls="od-plt" aria-selected="false">Oxígeno Disuelto</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="t-tab" style="color:#495057; cursor: pointer;" data-bs-toggle="tab" data-bs-target="#t-plt" role="tab" aria-controls="t-plt" aria-selected="false">Temperatura</a>
                            </li>
                        </ul>
                    </div>

                    <div class="card-body p-2">

                        <div class="tab-content" id="content" style="height: 100%; display: block;">

                            <iframe style="width: 100%; height: 100%;" class="tab-pane fade show active" id="ph-plt" aria-labelledby="ph-tab" src="https://api.thingspeak.com/channels/{{session.channel}}/charts/1?bgcolor=%23ffffff&width=auto&height=auto&dynamic=true&type=line&xaxis=Fecha%2FHora&color=%2300c889&yaxis=pH&title="></iframe>

                            <iframe style="width: 100%; height: 100%;" class="tab-pane fade active" id="k-plt" aria-labelledby="k-tab" src="https://api.thingspeak.com/channels/{{session.channel}}/charts/2?bgcolor=%23ffffff&width=auto&height=auto&dynamic=true&type=line&xaxis=Fecha%2FHora&color=%23dab900&yaxis=Conductividad+%28%CE%BCS%2Fcm%29&title="></iframe>

                            <iframe style="width: 100%; height: 100%;" class="tab-pane fade active" id="od-plt" aria-labelledby="od-tab" src="https://api.thingspeak.com/channels/{{session.channel}}/charts/3?bgcolor=%23ffffff&width=auto&height=auto&dynamic=true&type=line&xaxis=Fecha%2FHora&color=%2300acda&yaxis=Ox%C3%ADgeno+Disuelto+%28mg%2FL%29&title="></iframe>

                            <iframe style="width: 100%; height: 100%;" class="tab-pane fade active" id="t-plt" aria-labelledby="t-tab" src="https://api.thingspeak.com/channels/{{session.channel}}/charts/4?bgcolor=%23ffffff&width=auto&height=auto&dynamic=true&type=line&xaxis=Fecha%2FHora&color=%23da0000&&yaxis=Temperatura+%28%C2%B0C%29&title="></iframe>

                        </div>

                    </div>

                </div>
            </div>

            <!-- Mapa del Recorrido -->
            <div class="col-lg-6">
                <div class="card h-100" style="min-height: 650px; height: 100%">
                    <h5 class="card-header">Mapa del Recorrido:</h5>
                    <div class="card-body p-0">
                        <iframe src="{{ url_for('main.render_map') }}" title="mapa" style="height: 100%; width: 100%;"></iframe>
                    </div>
                </div>
            </div>

        </div>

        <h3>Estadísticas</h3>
        <hr class="mt-2 mb-4"> {% include 'includes/statistics.html' %}

    </div>
</main>
{% endblock %}