# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore

*.pyv
*.egg-info/
__pycache__/

env/
dist/
build/
instance/

.idea/
.vscode/
.coverage
.pytest_cache/

webapp/templates/web/main/map.html
