<div class="card mb-3 mb-md-5">
    <h5 class="card-header text-secondary">Datos Básicos</h5>
    <div class="card-body text-secondary">

        <div class="row">
            <div class="col-lg mb-3">
                <label for="filename" class="form-label">Nombre del Archivo</label>
                <input type="text" class="form-control text-secondary" id="filename" placeholder="--Archivo.ext--" value="{{session.filedata.filename}}" readonly>
            </div>

            <div class="col-lg mb-3">
                <label for="filedate" class="form-label">Fecha/Hora de Carga</label>
                <input type="text" class="form-control text-secondary" id="filedate" placeholder="00/00/00" value="{{session.filedata.date}}" readonly>
            </div>



        </div>

    </div>
</div>