{% with messages = get_flashed_messages(with_categories=true) %}

    {% if messages %}

            {% for category, message in messages %}

                {% if category == 'home' %}

                    <div class="alert alert-success alert-dismissible fade show m-0" role="alert">
                        <h4 class="alert-heading"><b>Bienvenido! - {{ session.user }}</b></h4>
                        <hr class="m-0 mb-2">
                        <p class="mb-0">{{ message }}</p>
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>

                {% else %}

                    <div class="alert alert-{{ category }} alert-dismissible fade show m-0" role="alert">
                        <span>{{ message }}</span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>

                {% endif %}

            {% endfor %}
        
    {% endif %}

{% endwith %}