<div class="row row-cols-1 g-4">
    <!-- Tarjeta de pH -->
    <div class="col-md-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row justify-content-around align-items-center">
                    <div class="text-center me-4">
                        <img src="../static/img/ph.svg" alt="" style="height: 75px; width: 75px;">
                    </div>
                    <h5 class="card-title">Estadísticas de medición del pH</h5>
                </div>
                <ul class="list-group list-group-flush my-4">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Max:
                        <div>
                            <p class="d-inline m-0">0.0 | </p><span class="d-inline badge bg-primary rounded-pill">Neutro</span>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Min:
                        <div>
                            <p class="d-inline m-0">0.0 | </p><span class="d-inline badge bg-primary rounded-pill">Neutro</span>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Media:
                        <div>
                            <p class="d-inline m-0">0.0 | </p><span class="d-inline badge bg-primary rounded-pill">Neutro</span>
                        </div>
                    </li>
                    <li class="list-group-item d-flex flex-wrap justify-content-between align-items-center">
                        Mediana:
                        <div>
                            <p class="d-inline m-0">0.0 | </p><span class="d-inline badge bg-primary rounded-pill">Neutro</span>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Desv. Est:
                        <div>
                            <p class="d-inline m-0">0.0 | </p><span class="d-inline badge bg-primary rounded-pill">Neutro</span>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- <div class="card-footer text-center">
                <a href="#" class="btn btn-outline-primary">Ver Datos</a>
            </div> -->
        </div>
    </div>

    <!-- Tarjeta de Conductividad -->
    <div class="col-md-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row justify-content-around align-items-center">
                    <div class="text-center me-4">
                        <img src="../static/img/conductivity.svg" alt="" style="height: 75px; width: 75px;">
                    </div>
                    <h5 class="card-title">Estadísticas de medición de la Conductividad</h5>
                </div>
                <ul class="list-group list-group-flush my-4">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Max:
                        <div>
                            <p class="d-inline m-0">0.0 | µS/cm</p>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Min:
                        <div>
                            <p class="d-inline m-0">0.0 | µS/cm</p>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Media:
                        <div>
                            <p class="d-inline m-0">0.0 | µS/cm</p>
                        </div>
                    </li>
                    <li class="list-group-item d-flex flex-wrap justify-content-between align-items-center">
                        Mediana:
                        <div>
                            <p class="d-inline m-0">0.0 | µS/cm</p>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Desv. Est:
                        <div>
                            <p class="d-inline m-0">0.0 | µS/cm</p>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- <div class="card-footer text-center">
                <a href="#" class="btn btn-outline-primary">Ver Datos</a>
            </div> -->
        </div>
    </div>

    <!-- Tarjeta de Oxígeno Disuelto -->
    <div class="col-md-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row justify-content-around align-items-center">
                    <div class="text-center me-4">
                        <img src="../static/img/oxygen.svg" alt="" style="height: 75px; width: 75px;">
                    </div>
                    <h5 class="card-title">Estadísticas de medición del Oxígeno Disuelto</h5>
                </div>
                <ul class="list-group list-group-flush my-4">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Max:
                        <div>
                            <p class="d-inline m-0">0.0 mg/L </p><span class="d-inline badge bg-primary rounded-pill">Normal</span>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Min:
                        <div>
                            <p class="d-inline m-0">0.0 mg/L </p><span class="d-inline badge bg-primary rounded-pill">Normal</span>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Media:
                        <div>
                            <p class="d-inline m-0">0.0 mg/L </p><span class="d-inline badge bg-primary rounded-pill">Normal</span>
                        </div>
                    </li>
                    <li class="list-group-item d-flex flex-wrap justify-content-between align-items-center">
                        Mediana:
                        <div>
                            <p class="d-inline m-0">0.0 mg/L </p><span class="d-inline badge bg-primary rounded-pill">Normal</span>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Desv. Est:
                        <div>
                            <p class="d-inline m-0">0.0 mg/L </p><span class="d-inline badge bg-primary rounded-pill">Normal</span>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- <div class="card-footer text-center">
                <a href="#" class="btn btn-outline-primary">Ver Datos</a>
            </div> -->
        </div>
    </div>

    <!-- Tarjeta de Tarjeta de Temperatura -->
    <div class="col-md-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row justify-content-around align-items-center">
                    <div class="text-center me-4">
                        <img src="../static/img/temperature.svg" alt="" style="height: 75px; width: 75px;">
                    </div>
                    <h5 class="card-title">Estadísticas de medición de la Temperatura</h5>
                </div>
                <ul class="list-group list-group-flush my-4">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Max:
                        <div>
                            <p class="d-inline m-0">0.0 °C </p><span class="d-inline badge bg-primary rounded-pill">Normal</span>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Min:
                        <div>
                            <p class="d-inline m-0">0.0 °C </p><span class="d-inline badge bg-primary rounded-pill">Normal</span>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Media:
                        <div>
                            <p class="d-inline m-0">0.0 °C </p><span class="d-inline badge bg-primary rounded-pill">Normal</span>
                        </div>
                    </li>
                    <li class="list-group-item d-flex flex-wrap justify-content-between align-items-center">
                        Mediana:
                        <div>
                            <p class="d-inline m-0">0.0 °C </p><span class="d-inline badge bg-primary rounded-pill">Normal</span>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Desv. Est:
                        <div>
                            <p class="d-inline m-0">0.0 °C </p><span class="d-inline badge bg-primary rounded-pill">Normal</span>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- <div class="card-footer text-center">
                <a href="#" class="btn btn-outline-primary">Ver Datos</a>
            </div> -->
        </div>
    </div>
</div>