<div class="row row-cols-1 row-cols-lg-2 g-4 mt-1 mb-5">

    <div class="col">
        <div class="card">
            <h5 class="card-header">Archivos de Mediciones Cargados</h5>
            <div class="card-body">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Archivo</th>
                            <th scope="col">Origen</th>
                            <th scope="col">Fecha/Hora de Carga</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">3</th>
                            <td>File.xlsx</td>
                            <td>Usuario</td>
                            <td>07/03/2021 20:45:55</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>File_2.xlsx</td>
                            <td>Usuario</td>
                            <td>07/03/2021 21:25:55</td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>Data.csv</td>
                            <td>Cloud</td>
                            <td>07/03/2021 22:15:47</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <h5 class="card-header">Archivos de Reporte Generados</h5>
            <div class="card-body">

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Archivo</th>
                            <th scope="col">Origen</th>
                            <th scope="col">Fecha/Hora de Carga</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">3</th>
                            <td>File.xlsx</td>
                            <td>Usuario</td>
                            <td>07/03/2021 20:45:55</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>File_2.xlsx</td>
                            <td>Usuario</td>
                            <td>07/03/2021 21:25:55</td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>Data.csv</td>
                            <td>Cloud</td>
                            <td>07/03/2021 22:15:47</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>