{% extends 'layouts/complete.html' %} {% block body %}

<main id="body" class="container my-5" onresize="setHeight()">

    <h2>Características del Archivo</h2>
    <p>Escribe los requerimientos necesarios para que la aplicación web pueda reconocer los parámetros del archivo.</p>

    {% include 'includes/progress.html' %} {% include 'includes/messages.html' %}

    <div id="body" class="container my-5" onresize="setHeight()">

        <form action="">

            <div class="row row-cols-1 g-4">

                <div class="col-md-5">
                    <div class="card h-100">
                        <h4 class="card-header">Información del Archivo</h4>
                        <div class="card-body">

                            <div class="mb-3">
                                <label for="filename" class="form-label">Nombre del Archivo</label>
                                <input type="text" class="form-control" id="filename" placeholder="--Archivo.ext--" value="{{session.filedata['filename']}}" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="filetype" class="form-label">Tipo de Archivo</label>
                                <input type="text" class="form-control" id="filetype" placeholder="--Software usado--" value="{{session.filedata['filetype']}}" readonly>
                            </div>

                            <div class="row">
                                <label for="filetype" class="form-label">Fecha y Hora de Carga</label>

                                <div class="col-lg mb-3">
                                    <input type="text" class="form-control" placeholder="00/00/00" value="{{session.filedata['date']}}" readonly>
                                </div>

                                <div class="col-lg mb-3">
                                    <input type="text" class="form-control" placeholder="00:00:00" value="{{session.filedata['time']}}" readonly>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-7">
                    <div class="card h-100">
                        <h4 class="card-header">Contenido del Archivo</h4>
                        <div class="card-body">
                            <label for="" class="form-label">▪ ¿El archivo posee encabezados?</label>
                            <div class="input-group mb-3">
                                <div class="input-group-text">
                                    <input class="form-check-input" type="checkbox" value="">
                                </div>
                                <input type="text" class="form-control">
                                <span class="input-group-text">
                            <img src="../static/img/help-btn.svg" alt="" class="" style="width: 25px; height: 25px;">
                        </span>
                            </div>
                            <label for="" class="form-label">▪ ¿Los datos se encuentran en una hoja específica del archivo?</label>
                            <div class="input-group mb-3">
                                <div class="input-group-text">
                                    <input class="form-check-input" type="checkbox" value="">
                                </div>
                                <input type="text" class="form-control">
                                <span class="input-group-text">
                            <img src="../static/img/help-btn.svg" alt="" class="" style="width: 25px; height: 25px;">
                        </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="card">
                        <div class="card-body text-center">
                            <button type="submit" class="btn btn-primary btn-lg">Continuar</button>
                        </div>
                    </div>
                </div>

            </div>

        </form>

    </div>

</main>

{% endblock %}