{% extends 'layouts/complete.html' %} {% block body %}

<main id="body" class="container my-5">

    <h2>Creación del Reporte</h2>
    <p>Llena el formulario para completar el informe de la calidad del agua, con los datos obtenidos de tu archivo.</p>

    {% include 'includes/progress.html' %} {% include 'includes/messages.html' %}

    <h3 class="my-3">Información del Archivo de Mediciones</h3>

    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <span>Las mediciones de la base de datos seleccionada se han cargado correctamente.</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>

    <div class="card mb-5">
        <h5 class="card-header text-secondary">Datos Básicos</h5>
        <div class="card-body text-secondary">

            <div class="row">
                <div class="col-lg mb-3">
                    <label for="filename" class="form-label">Nombre del Archivo</label>
                    <input type="text" class="form-control text-secondary" id="filename" placeholder="--Archivo.ext--" value="{{session.filedata['filename']}}" readonly>
                </div>

                <div class="col-lg mb-3">
                    <label for="filedate" class="form-label">Fecha de Carga</label>
                    <input type="text" class="form-control text-secondary" id="filedate" placeholder="00/00/00" value="{{session.filedata['date']}}" readonly>
                </div>

                <div class="col-lg mb-3">
                    <label for="filetime" class="form-label">Hora de Carga</label>
                    <input type="text" class="form-control text-secondary" id="filetime" placeholder="00:00:00" value="{{session.filedata['time']}}" readonly>
                </div>
            </div>

        </div>
    </div>


    <h3 class="mb-3">Información del Reporte a Generar</h3>

    <div class="alert alert-primary">
        <b></b>Ten en cuenta que los campos marcados con <span class="badge rounded-pill bg-warning text-dark"><b>*</b></span> son obligatorios para poder crear el informe</b>.
    </div>

    <form method="POST">

        <div class="row row-cols-1 g-4">

            <div class="col-lg-5">
                <div class="card h-100">
                    <h5 class="card-header">Datos Básicos</h5>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="" class="form-label"><span class="badge rounded-pill bg-warning text-dark">*</span> Título del Informe: </label>
                            <input type="text" id="" class="form-control" placeholder="Escribe el título" required>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label"><span class="badge rounded-pill bg-warning text-dark">*</span> Autor/es: </label>
                            <input type="text" id="" class="form-control" placeholder="Escribe el autor/autores" required>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Dirigido a: </label>
                            <input type="text" id="" class="form-control" placeholder="Escribe la organización o persona a la cual va dirigido el informe">
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label"><span class="badge rounded-pill bg-warning text-dark">*</span> Razón del Informe: </label>
                            <textarea id="reportreason" class="form-control" style="height: 290px; min-height: 190px; max-height: 400px;" required></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="card h-100">
                    <h5 class="card-header">Datos del Sitio o Fuente Hídrica</h5>
                    <div class="card-body">
                        <div class="row mb-4">
                            <div class="col-md-4 mb-3 mb-md-0">
                                <label class="form-label"><span class="badge rounded-pill bg-warning text-dark">*</span> Tipo de Fuente:</label>
                                <select class="form-select" required>
                                    <option disabled selected>Selecciona una opción</option>
                                    <option value="1">Arroyo</option>
                                    <option value="2">Canal</option>
                                    <option value="3">Charco/a</option>
                                    <option value="4">Ciénaga</option>
                                    <option value="5">Embalse</option>
                                    <option value="6">Estanque</option>
                                    <option value="7">Estero</option>
                                    <option value="8">Humedal</option>
                                    <option value="9">Lago</option>
                                    <option value="10">Laguna</option>
                                    <option value="11">Marisma</option>
                                    <option value="12">Pantano</option>
                                    <option value="13">Paso</option>
                                    <option value="14">Quebrada</option>
                                    <option value="15">Rambla</option>
                                    <option value="16">Riacho</option>
                                    <option value="17">Riachuelo</option>
                                    <option value="18">Río</option>
                                  </select>
                            </div>
                            <div class="col-md-8">
                                <label class="form-label"><span class="badge rounded-pill bg-warning text-dark">*</span> Nombre de la Fuente Hídrica:</label>
                                <input type="text" class="form-control" placeholder="Escribe el nombre de la fuente hídrica" required>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label class="form-label"><span class="badge rounded-pill bg-warning text-dark">*</span> Nombre/Ubicación de la Zona de Estudio:</label>
                            <input type="text" class="form-control" placeholder="Escribe el nombre o ubicación del lugar donde se realizaron las mediciones" required>
                        </div>
                        <div class="mb-4">
                            <label for="" class="form-label"> Descripción del lugar: </label>
                            <textarea id="placedescription" class="form-control" style="height: 310px; min-height: 210px; max-height: 420px;"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="card">
                    <div class="card-body text-center">
                        <button type="submit" class="btn btn-primary btn-lg">Crear Reporte</button>
                    </div>
                </div>
            </div>

        </div>

    </form>

</main>
{% endblock %}