{% extends 'layouts/complete.html' %} {% block body %}

<main id="body" class="container my-5" onresize="setHeight()">

    {% include 'includes/messages.html' %}

    <h1 class="display-4">Generador de Reportes</h1>
    <p class="lead">Esta es una aplicación web basada en Python, que te permitirá crear reportes de calidad de agua (estimados) gracias a los datos de medición del sistema, alojados en el servidor de Thinkspeak.
    </p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Ver Más</a>

</main>

{% endblock %}